.error {
  color: red;
}
.success {
  color: green;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fbd4b4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #ffffff;
  padding: 20px 60px 20px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 250px;
}

#signup-form {
  display: flex;
  flex-direction: column;
  /* padding: 10px 40px; */
}

label {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 12px;
}

.error {
  color: red;
  font-size: 12px;
}

.success {
  color: #008052;
  font-size: 12px;
  padding-bottom: 10px;
}

button {
  padding: 10px 20px;
  border: 1px solid #403d3d;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
  font-size: 12px;
  cursor: pointer;
  margin: 0;
  align-self: flex-start;
  transition: background-color 0.3s ease;
}
